/* Flecha hacia abajo por defecto */
[data-accordion-icon] {
    transition: transform 0.3s ease;
}

/* Flecha rotada 180 grados cuando el acordeón está abierto */
.rotate-180 {
    transform: rotate(180deg);
}

/* Flecha sin rotar cuando el acordeón está cerrado */
.rotate-0 {
    transform: rotate(0deg);
}

.modal {
    display: none;
}
.modal.open {
    display: flex;
}

.navbar-item.active {
    color: #C09A75; 
}

.fade-out {
    transition: opacity 1.5s ease;
}

.fade-out:hover {
    opacity: 0;
}

@keyframes fadeInUpStrong {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in-up-strong {
    animation: fadeInUpStrong 1s ease-out;
  }



  #lightbox-image {
    cursor: zoom-in;
    transition: transform 0.3s ease, transform-origin 0.3s ease; /* Transición suave para el zoom */
    
    max-width: 90vw; /* Ajusta el tamaño máximo de la imagen al 90% del ancho de la ventana */
    max-height: 90vh; /* Ajusta el tamaño máximo de la imagen al 80% de la altura de la ventana */
    
    object-fit: contain; /* Evita que la imagen se distorsione */
}

/* Zoom cuando se hace clic en la imagen */
#lightbox-image.zoomed {
    transform: scale(2); /* Escala la imagen al 200% al hacer clic */
    cursor: zoom-out;
    
    max-width: 100vw; /* Asegura que la imagen ocupe todo el ancho de la ventana */
    max-height: 100vh; /* Asegura que la imagen ocupe todo el alto de la ventana */
    
    object-fit: contain;
}


.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.portfolio-img {
    cursor: pointer;
    max-width: 100%;
    margin-bottom: 1rem;
    height: auto;
}

.portfolio-button {
    border: 1px solid #444344;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    background-color: #FCFBF7;
    color: white;
    transition: all 0.3s ease-in-out;
  }
  
  .portfolio-button:hover {
    background-color: #FCFBF7;
    border-color: #FCFBF7;
    color: white;
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }