/* Flecha hacia abajo por defecto */
[data-accordion-icon] {
    transition: transform 0.3s ease;
}

/* Flecha rotada 180 grados cuando el acorde칩n est치 abierto */
.rotate-180 {
    transform: rotate(180deg);
}

/* Flecha sin rotar cuando el acorde칩n est치 cerrado */
.rotate-0 {
    transform: rotate(0deg);
}

.modal {
    display: none;
}
.modal.open {
    display: flex;
}

.navbar-item.active {
    color: #C09A75; 
}

.fade-out {
    transition: opacity 1.5s ease;
}

.fade-out:hover {
    opacity: 0;
}

@keyframes fadeInUpStrong {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in-up-strong {
    animation: fadeInUpStrong 1s ease-out;
  }
