<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/output.css">
    <link rel="icon" href="../static/favicon.ico">
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<body class="font-body">

    <!-- Navbar -->
    <!--<nav class="w-full bg-preto z-50 py-2">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="index.html/" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="../static/logo.webp" alt="Logo JKO Studio 3D" class="self-center h-20 w-auto pl-8 transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg">
            </a>
            <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-transparent">
                    <li>
                        <a href="index.html" class="block py-2 px-3 text-branco rounded hover:text-bege md:p-0">Inicio</a>
                    </li>
                    <li>
                        <a href="#" class="block py-2 px-3 text-branco rounded hover:text-bege md:p-0">Sobre mim</a>
                    </li>
                    <li>
                        <a href="portfolio.html" class="block py-2 px-3 text-branco rounded hover:text-bege md:p-0">Portfolio</a>
                    </li>
                    <li>
                        <a href="contato.html" class="block py-2 px-3 text-bege rounded hover:text-bege md:p-0">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>  -->
    <nav class="absolute top-0 left-0 w-full bg-preto md:bg-transparent z-50 pt-0">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="index.html" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="../static/logo.webp" alt="Logo JKO Studio 3D" class="self-center h-20 w-auto pl-8 transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg">
            </a>
            <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-branco rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto pr-8" id="navbar-default">
                <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-transparent">
                    <li>
                        <a href="index.html" class="block py-2 px-3 text-branco rounded text-sm hover:text-bege font-semibold md:p-0">Inicio</a>
                    </li>
                    <li>
                        <a href="sobre.html" class="block py-2 px-3 text-branco rounded text-sm hover:text-bege font-semibold md:p-0">Sobre mim</a>
                    </li>
                    <li>
                        <a href="portfolio.html" class="block py-2 px-3 text-branco rounded text-sm hover:text-bege font-semibold md:p-0">Portfolio</a>
                    </li>
                    <li>
                        <a href="contato.html" class="block py-2 px-3 text-bege rounded text-sm hover:text-bege font-semibold md:p-0">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>  

    <!-- Formulario de Contacto -->
    <section id="contact" class="pt-[90px] md:pt-[100px] pt-[140px] h-screen pb-60" style="background-image: url('../static/predios.webp'); background-size: cover;">
        <div class="container mx-auto">
            <div class="max-w-lg mx-auto bg-white p-8 shadow-lg">
                <h2 class="text-3xl font-bold text-center mb-8">Contato</h2>
                <form action="#" method="POST" class="space-y-6">
                    <div>
                        <label for="name" class="block text-sm font-medium text-gray-700">Nome</label>
                        <input type="text" id="name" name="name" required class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-bege focus:border-bege">
                    </div>
                    <div>
                        <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                        <input type="email" id="email" name="email" required class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-bege focus:border-bege">
                    </div>
                    <div>
                        <label for="message" class="block text-sm font-medium text-gray-700">Mensagem</label>
                        <textarea id="message" name="message" rows="4" required class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-bege focus:border-bege"></textarea>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="w-full bg-preto text-white py-2 px-4 rounded-md shadow-lg hover:bg-bege transition duration-300 ease-in-out transform hover:scale-105">Enviar</button>
                    </div>
                </form>
                <div class="bg-branco mt-8">
                    <p class="text-center mb-4">Ou</p>
                    <a href="https://wa.me/554384233952?text=Oi%21%20Estou%20interessado/a%20nos%20seus%20servi%C3%A7os%2C%20quero%20fazer%20um%20or%C3%A7amento" class="text-blue-500 hover:text-blue-400"> <p class="text-center">Entre en contato pelo WhatsApp</p></a>
                </div>
                <div class="bg-branco mt-8">
                    <p class="text-center mb-4">Ou</p>
                    <a href="https://wa.me/554384233952?text=Oi%21%20Estou%20interessado/a%20nos%20seus%20servi%C3%A7os%2C%20quero%20fazer%20um%20or%C3%A7amento" class="text-blue-500 hover:text-blue-400"> <p class="text-center">Entre en contato pelo WhatsApp</p></a>
                </div>
            </div>
            
            
        </div>

        

        
    </section>


    <!-- Footer -->
    <footer class="shadow w-full bg-preto pt-8 hidden md:block">
        <div class="w-full max-w-screen-xl mx-auto pb-4">
            <div class="sm:flex sm:items-center sm:justify-between">
                <!-- <a href="#" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                    <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">JKO 3D Studio</span>
                </a> -->
                <img src="../static/jko-variacao.webp" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse h-16 pl-16" alt="">
                <ul class="flex flex-wrap items-center mb-6 text-sm font-medium sm:mb-0 text-gray-400">
                    <li>
                        <a href="#" class="hover:underline me-4 md:me-6 mr-4">About</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline me-4 md:me-6 mr-4">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline me-4 md:me-6 mr-4">Licensing</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline">Contact</a>
                    </li>
                </ul>
            </div>
            <hr class="my-6 sm:mx-auto border-gray-700 lg:my-8" />
            <span class="block text-sm sm:text-center text-gray-400">© 2024 <a href="#" class="hover:underline">JKO 3D Studio™</a>. All Rights Reserved.</span>
        </div>
    </footer>

     <!-- WhatsApp Floating Button -->
     <a href="https://wa.me/554384233952?text=Oi%21%20Estou%20interessado/a%20nos%20seus%20servi%C3%A7os%2C%20quero%20fazer%20um%20or%C3%A7amento" 
     class="fixed bottom-4 right-4 bg-green-500 text-white p-3 rounded-full shadow-lg hover:bg-green-600 transition duration-300 ease-in-out z-40">
     <i class="fab fa-whatsapp fa-2x"></i>
  </a>

     <!-- WhatsApp Floating Button -->
     <a href="https://wa.me/554384233952?text=Oi%21%20Estou%20interessado/a%20nos%20seus%20servi%C3%A7os%2C%20quero%20fazer%20um%20or%C3%A7amento" 
     class="fixed bottom-4 right-4 bg-green-500 text-white p-3 rounded-full shadow-lg hover:bg-green-600 transition duration-300 ease-in-out z-40">
     <i class="fab fa-whatsapp fa-2x"></i>
  </a>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>

</body>