<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JKO Design</title>
    <link rel="stylesheet" href="../static/output.css">
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />


</head>
<body class="bg-branco-2 font-body">
    <!-- Navbar -->
    <nav class="absolute top-0 left-0 w-full bg-transparent z-50 pt-8">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="index.html" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="../static/logo.webp" alt="Logo JKO Studio 3D" class="self-center h-20 w-auto pl-8 transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg">
            </a>
            <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto pr-8" id="navbar-default">
                <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-transparent">
                    <li>
                        <a href="index.html" class="block py-2 px-3 text-bege rounded text-sm hover:text-bege font-semibold md:p-0">Inicio</a>
                    </li>
                    <li>
                        <a href="sobre.html" class="block py-2 px-3 text-branco rounded text-sm hover:text-bege font-semibold md:p-0">Sobre mim</a>
                    </li>
                    <li>
                        <a href="portfolio.html" class="block py-2 px-3 text-branco rounded text-sm hover:text-bege font-semibold md:p-0">Portfolio</a>
                    </li>
                    <li>
                        <a href="contato.html" class="block py-2 px-3 text-branco rounded text-sm hover:text-bege font-semibold md:p-0">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>  


    <!-- Hero section -->
    <div class="relative bg-gradient-to-r from-purple-600 to-blue-600 h-screen text-white overflow-hidden">
        <div class="absolute inset-0">
            <img src="../static/depto-2.webp" alt="Background Image" class="object-cover object-center w-full h-full" />
            <div class="absolute inset-0 bg-black opacity-35"></div>
        </div>
        <div class="relative z-10 flex flex-col justify-center items-center h-full text-center">
            <h1 class="text-7xl font-bold leading-tight mb-4">Transforme suas visões em <p class="text-bege">realidade</p></h1>
            <p class="text-2xl text-gray-300 font-bold mb-8">Dê vida aos seus projetos com nossas soluções de modelagem 3D e renderização</p>
            <a href="https://wa.me/554384233952" class="hover:bg-bege hover:border-bege text-branco border border-branco border-2 py-2 px-6 text-lg font-bold transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg">Faça um orçamento</a>
        </div>
        <!-- Flecha animada -->
        <div class="absolute bottom-8 w-full flex justify-center z-20">
            <a href="#reveal-image" class="animate-bounce scroll-smooth">
                <svg class="w-10 h-10 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
            </a>
        </div>
    </div>
    
    
    <!-- Reveal image -->
    <div id="reveal-image" class="flex flex-col md:flex-row bg-branco-2 shadow-lg overflow-hidden md:px-[90px] h-[600px]">
        <div class="md:w-1/3 ml-[35px] flex flex-col justify-center items-center relative" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="200">
            <div class="flex items-center">
                <!-- Elemento linea vertical -->
                <div class="w-3 mr-[10px] bg-bege h-full"></div>
                <div class="pl-[10px]">
                    <h1 class="text-3xl md:text-4xl font-bold text-preto mb-4">FAÇA COM QUE SEUS PROJETOS SAIAM DO PAPEL</h1>
                    <h2 class="text-xl md:text-2xl text-preto font-semibold">Transforme seus sonhos em uma realidade tridimensional, visualizando cada detalhe e trazendo suas ideias à vida com precisão e criatividade.</h2>
                    <div class="flex items-center mt-4 text-xl md:text-2xl text-preto">
                        <span>Passe o mouse na imagem e veja a magia acontecer!</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex items-center md:w-[60%] h-[500px] ml-[35px] justify-center" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="200">
            <svg class="w-12 h-12 mx-4 text-preto opacity-75" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
            <div class="relative w-full h-full flex items-center justify-center">
                <img src="../static/sketch-2.webp" alt="Foto 1" class="absolute top-0 left-0 w-full h-full object-cover">
                <img src="../static/sketch-1.webp" alt="Foto 2" class="absolute top-0 left-0 w-full h-full object-cover block fade-out">
            </div>
        </div>
    </div>
    
          
    
        
    <!-- transforme suas ideias page -->
    <div class="bg-bege-claro p-8 py-8 flex">
        <div class="flex-1 flex items-center justify-center pl-[90px]" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="200">
            <img src="../static/hotel-plantinha.webp" alt="">
        </div>
        <div class="flex-1 flex flex-col items-center justify-center text-center text-preto pr-[90px] ml-[90px]" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="200">
            <h1 class="text-3xl md:text-4xl font-bold mb-2">Conheça a tecnologia que revolucionou o mercado imobiliário</h1> <br>
            <h2 class="text-xl md:text-2xl mb-4">Descubra como nossas visualizações 3D transformam projetos imobiliários em experiências imersivas e detalhadas, conquistando clientes e acelerando vendas</h2> <br>
            <a href="portfolio.html" class="text-center border border-2 border-preto w-[150px] mx-auto font-md text-preto hover:text-white hover:bg-bege hover:border-bege py-2 px-6 text-lg font-semibold transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg inline-block">Saiba mais</a>
        </div>
    </div>
    



    <!-- Processo -->
    <section id="process" class="pt-[70px] pb-[30px] bg-preto">
        <div class="container mx-auto text-center" data-aos="fade-up" data-aos-duration="1500">
            <h2 class="text-3xl font-bold mb-4 text-branco">PROCESSO DE TRABALHO</h2>
            <p class="mb-4 text-lg text-branco">Nosso enfoque garante resultados excepcionais e satisfação total do cliente.</p>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-0 mx-auto max-w-[800px]">
                <!-- Etapa 1 -->
                <div class="p-8 transform transition-transform duration-300 hover:scale-105" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
                    <img src="../static/consulta.png" alt="Consulta Inicial" class="w-16 h-16 mx-auto mb-4">
                    <h3 class="text-xl font-semibold text-branco">1. Consulta Inicial</h3>
                    <p class="mt-2 text-branco">Nos reunimos com você para entender suas necessidades e objetivos do projeto.</p>
                </div>
                <!-- Etapa 2 -->
                <div class="p-8 transform transition-transform duration-300 hover:scale-105" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="200">
                    <img src="../static/planejamento.png" alt="Planejamento" class="w-16 h-16 mx-auto mb-4">
                    <h3 class="text-xl font-semibold text-branco">2. Planejamento</h3>
                    <p class="mt-2 text-branco">Desenvolvemos um plano detalhado que aborda todos os aspectos do projeto.</p>
                </div>
                <!-- Etapa 3 -->
                <div class="p-8 transform transition-transform duration-300 hover:scale-105" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
                    <img src="../static/revisao.png" alt="Design e Desenvolvimento" class="w-16 h-16 mx-auto mb-4">
                    <h3 class="text-xl font-semibold text-branco">3. Design e Desenvolvimento</h3>
                    <p class="mt-2 text-branco">Criamos modelos 3D e renderizações para visualizar suas ideias com precisão.</p>
                </div>
                <!-- Etapa 4 -->
                <div class="p-8 transform transition-transform duration-300 hover:scale-105" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="400">
                    <img src="../static/consulta.png" alt="Revisão e Entrega" class="w-16 h-16 mx-auto mb-4">
                    <h3 class="text-xl font-semibold text-branco">4. Revisão e Entrega</h3>
                    <p class="mt-2 text-branco">Revisamos os designs com você e fazemos ajustes antes da entrega final.</p>
                </div>
            </div>
        </div>
        
    </section>
        
    
    <!-- sketchup Logos -->
    <div class="bg-preto pb-[70px] pt-[60px]">
        <div class="grid grid-cols-3 gap-4">
            <div class="flex justify-center items-center" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
                <img src="../static/sketchup.webp" alt="Logo 1" class="w-[250px] h-[120px] color-bege object-contain transition-transform transform hover:scale-105" />
            </div>
            <div class="flex justify-center items-center" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="200">
                <img src="../static/enscape.webp" alt="Logo 2" class="w-[250px] h-[50px] object-contain transition-transform transform hover:scale-105" />
            </div>
            <div class="flex justify-center items-center" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
                <img src="../static/layout.webp" alt="Logo 3" class="w-[250px] h-[40px] object-contain transition-transform transform hover:scale-105" />
            </div>
        </div>
    </div>


    
    <!-- Serviços 2 -->
<!-- Serviços -->
<section id="services" class="py-20 px-4 bg-branco-2">
    <div class="container mx-auto text-center">
        <h2 class="text-3xl md:text-4xl font-bold text-preto mb-12" data-aos="fade-up" data-aos-duration="1500">SERVIÇOS</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
            <!-- Serviço 1 -->
            <div class="relative overflow-hidden transform transition-transform duration-600 filter grayscale transition-all duration-500 ease-in-out hover:grayscale-0 hover:scale-110 hover:shadow-lg bg-cover bg-center h-[427px] w-[320px]" style="background-image: url('../static/servicos1.webp');" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
                <div class="absolute top-[200px] left-0 right-0 p-4">
                    <svg class="w-12 h-12 mx-auto mb-2 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16M6 6v12M18 6v12" />
                    </svg>
                    <h3 class="text-lg font-semibold text-white">Modelagem 3D</h3>
                    <p class="mt-2 text-white">Criação de modelos 3D precisos e detalhados para seus projetos arquitetônicos.</p>
                </div>
            </div>
            <!-- Serviço 2 -->
            <div class="relative overflow-hidden filter grayscale transition-all duration-300 hover:grayscale-0 hover:scale-110 hover:shadow-lg bg-cover bg-center h-[427px] w-[320px]" style="background-image: url('../static/servicos2.webp');" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="200">
                <div class="absolute top-[200px] left-0 right-0 p-4">
                    <svg class="w-12 h-12 mx-auto mb-2 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3h14a1 1 0 011 1v16a1 1 0 01-1 1H5a1 1 0 01-1-1V4a1 1 0 011-1z" />
                    </svg>
                    <h3 class="text-lg font-semibold text-white">Renderização</h3>
                    <p class="mt-2 text-white">Renderizações de alta qualidade que destacam os detalhes e a estética dos seus designs.</p>
                </div>
            </div>
            <!-- Serviço 3 -->
            <div class="relative overflow-hidden transform transition-transform duration-300 filter grayscale hover:grayscale-0 hover:scale-110 hover:shadow-lg bg-cover bg-center h-[427px] w-[320px]" style="background-image: url('../static/servicos1.webp');" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
                <div class="absolute top-[200px] left-0 right-0 p-4">
                    <svg class="w-12 h-12 mx-auto mb-2 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 3a1 1 0 00-1 1v12a1 1 0 001 1h10a1 1 0 001-1V4a1 1 0 00-1-1H7z" />
                    </svg>
                    <h3 class="text-lg font-semibold text-white">Animações 3D</h3>
                    <p class="mt-2 text-white">Criação de animações para visualizar seus projetos em movimento.</p>
                </div>
            </div>
            <!-- Serviço 4 -->
            <div class="relative overflow-hidden transform transition-transform duration-300 filter grayscale hover:grayscale-0 hover:scale-110 hover:shadow-lg bg-cover bg-center h-[427px] w-[320px]" style="background-image: url('../static/servicos1.webp');" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="400">
                <div class="absolute top-[200px] left-0 right-0 p-4">
                    <svg class="w-12 h-12 mx-auto mb-2 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 3v18l16-9L4 3z" />
                    </svg>
                    <h3 class="text-lg font-semibold text-white">Visualização VR</h3>
                    <p class="mt-2 text-white">Experiências de realidade virtual para uma imersão total em seus designs.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Serviços TESTANDOOOO -->
<!-- Serviços -->
<section id="services" class="py-20 px-4 bg-branco-2">
    <div class="container mx-auto text-center">
        <h2 class="text-3xl md:text-4xl font-bold text-preto mb-12" data-aos="fade-up" data-aos-duration="1500">SERVIÇOS</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
            <!-- Serviço 1 -->
            <div class="relative overflow-hidden bg-cover bg-center h-[427px] w-[320px] max-w-full transition duration-600 ease-in-out filter grayscale hover:grayscale-0" style="background-image: url('../static/servicos1.webp');" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
                <div class="absolute left-0 right-0 bottom-0 p-4 top-[200px]">
                    <div class="text-center">
                        <svg class="w-12 h-12 mx-auto mb-2 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16M6 6v12M18 6v12" />
                        </svg>
                        <h3 class="text-lg font-semibold text-white">Modelagem 3D</h3>
                        <p class="mt-2 text-white">Criação de modelos 3D precisos e detalhados para seus projetos arquitetônicos.</p>
                    </div>
                </div>
            </div>
            <!-- Serviço 2 -->
            <div class="relative overflow-hidden bg-cover bg-center h-[427px] w-[320px] max-w-full filter grayscale hover:grayscale-0" style="background-image: url('../static/servicos2.webp');" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="200">
                <div class="absolute left-0 right-0 bottom-0 p-4 top-[200px]">
                    <div class="text-center">
                        <svg class="w-12 h-12 mx-auto mb-2 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3h14a1 1 0 011 1v16a1 1 0 01-1 1H5a1 1 0 01-1-1V4a1 1 0 011-1z" />
                        </svg>
                        <h3 class="text-lg font-semibold text-white">Renderização</h3>
                        <p class="mt-2 text-white">Renderizações de alta qualidade que destacam os detalhes e a estética dos seus designs.</p>
                    </div>
                </div>
            </div>
            <!-- Serviço 3 -->
            <div class="relative overflow-hidden bg-cover bg-center h-[427px] w-[320px] max-w-full filter grayscale hover:grayscale-0" style="background-image: url('../static/servicos1.webp');" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
                <div class="absolute left-0 right-0 bottom-0 p-4 top-[200px]">
                    <div class="text-center">
                        <svg class="w-12 h-12 mx-auto mb-2 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 3a1 1 0 00-1 1v12a1 1 0 001 1h10a1 1 0 001-1V4a1 1 0 00-1-1H7z" />
                        </svg>
                        <h3 class="text-lg font-semibold text-white">Animações 3D</h3>
                        <p class="mt-2 text-white">Criação de animações para visualizar seus projetos em movimento.</p>
                    </div>
                </div>
            </div>
            <!-- Serviço 4 -->
            <div class="relative overflow-hidden bg-cover bg-center h-[427px] w-[320px] max-w-full filter grayscale hover:grayscale-0" style="background-image: url('../static/servicos1.webp');" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="400">
                <div class="absolute left-0 right-0 bottom-0 p-4 top-[200px]">
                    <div class="text-center bottom-0">
                        <svg class="w-12 h-12 mx-auto mb-2 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 3v18l16-9L4 3z" />
                        </svg>
                        <h3 class="text-lg font-semibold text-white">Visualização VR</h3>
                        <p class="mt-2 text-white">Experiências de realidade virtual para uma imersão total em seus designs.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- Perguntas frequentes -->
    <div class="bg-preto px-[90px]" id="accordion-flush" data-accordion="collapse" data-active-classes="font-bold text-branco border-b-2 border-branco" data-inactive-classes="text-branco">
        <h2 id="accordion-flush-heading-1">
            <button type="button" class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-branco border-b border-gray-200 dark:border-gray-700 dark:text-branco gap-3" data-accordion-target="#accordion-flush-body-1" aria-expanded="false" aria-controls="accordion-flush-body-1">
                <span>What are the differences between Flowbite and Tailwind UI?</span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
            </button>
        </h2>
        <div id="accordion-flush-body-1" class="hidden" aria-labelledby="accordion-flush-heading-1">
            <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                <p class="mb-2 text-branco dark:text-branco">The main difference is that the core components from Flowbite are open source under the MIT license, whereas Tailwind UI is a paid product. Another difference is that Flowbite relies on smaller and standalone components, whereas Tailwind UI offers sections of pages.</p>
                <p class="mb-2 text-branco dark:text-branco">However, we actually recommend using both Flowbite, Flowbite Pro, and even Tailwind UI as there is no technical reason stopping you from using the best of two worlds.</p>
                <p class="mb-2 text-branco dark:text-branco">Learn more about these technologies:</p>
                <ul class="ps-5 text-branco list-disc dark:text-branco">
                    <li><a href="https://flowbite.com/pro/" class="text-blue-600 dark:text-blue-500 hover:underline">Flowbite Pro</a></li>
                    <li><a href="https://tailwindui.com/" rel="nofollow" class="text-blue-600 dark:text-blue-500 hover:underline">Tailwind UI</a></li>
                </ul>
            </div>
        </div>
        <h2 id="accordion-flush-heading-2">
            <button type="button" class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-branco border-b border-gray-200 dark:border-gray-700 dark:text-branco gap-3" data-accordion-target="#accordion-flush-body-2" aria-expanded="false" aria-controls="accordion-flush-body-2">
                <span>Is there a Figma file available?</span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
            </button>
        </h2>
        <div id="accordion-flush-body-2" class="hidden" aria-labelledby="accordion-flush-heading-2">
            <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                <p class="mb-2 text-branco dark:text-branco">Flowbite is first conceptualized and designed using the Figma software so everything you see in the library has a design equivalent in our Figma file.</p>
                <p class="text-branco dark:text-branco">Check out the <a href="https://flowbite.com/figma/" class="text-blue-600 dark:text-blue-500 hover:underline">Figma design system</a> based on the utility classes from Tailwind CSS and components from Flowbite.</p>
            </div>
        </div>
        <h2 id="accordion-flush-heading-3">
            <button type="button" class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-branco border-b border-gray-200 dark:border-gray-700 dark:text-branco gap-3" data-accordion-target="#accordion-flush-body-3" aria-expanded="false" aria-controls="accordion-flush-body-3">
                <span>What is Flowbite?</span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
            </button>
        </h2>
        <div id="accordion-flush-body-3" class="hidden" aria-labelledby="accordion-flush-heading-3">
            <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                <p class="mb-2 text-branco dark:text-branco">Flowbite is an open-source library of interactive components built on top of Tailwind CSS including buttons, dropdowns, modals, navbars, and more.</p>
                <p class="text-branco dark:text-branco">Check out this guide to learn how to <a href="/docs/getting-started/introduction/" class="text-blue-600 dark:text-blue-500 hover:underline">get started</a> and start developing websites even faster with components on top of Tailwind CSS.</p>
            </div>
        </div>
    </div>
        
      

    
    <!-- Footer -->
    <footer class="shadow bg-preto">
        <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
            <div class="sm:flex sm:items-center sm:justify-between">
                <a href="#" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                    <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">JKO Design</span>
                </a>
                <ul class="flex flex-wrap items-center mb-6 text-sm font-medium sm:mb-0 text-gray-400">
                    <li>
                        <a href="#" class="hover:underline me-4 md:me-6 mr-4">About</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline me-4 md:me-6 mr-4">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline me-4 md:me-6 mr-4">Licensing</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline">Contact</a>
                    </li>
                </ul>
            </div>
            <hr class="my-6 sm:mx-auto border-gray-700 lg:my-8" />
            <span class="block text-sm sm:text-center text-gray-400">© 2024 <a href="#" class="hover:underline">JKO Design™</a>. All Rights Reserved.</span>
        </div>
    </footer>


    <!-- WhatsApp Floating Button -->
    <a href="https://wa.me/554384233952" class="fixed bottom-4 right-4 bg-green-500 text-white p-3 rounded-full shadow-lg hover:bg-green-600 transition duration-300 ease-in-out z-40"> <!-- Ajustar z-index -->
        <i class="fab fa-whatsapp fa-2x"></i>
    </a>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="../static/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>

</body>
</html>



    <!-- these didnt make the cut -->
    <!-- Imagen B&W 
    <div class="bg-branco-2 p-6 shadow-md rounded-lg">
        <div class="flex flex-col md:flex-row items-center">
            <img id="byn-foto" class="w-1/2 sm:w-full h-auto transition duration-300 ease-in-out rounded-lg filter grayscale hover:grayscale-0" src="../static/hotel-1.webp" alt="Imagem" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100"/>
            <div class="mt-4 md:mt-0 md:ml-6 flex-1" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="200">
                <h2 class="text-2xl md:text-4xl font-semibold mb-2 text-gray-800">Design Moderno</h2>
                <p class="text-gray-700 text-base md:text-lg">Nosso design moderno incorpora os últimos avanços em arquitetura para criar espaços que são tão funcionais quanto esteticamente agradáveis.</p>
            </div>
        </div>
    </div>  -->


    <!-- Serviços 
    <section id="services" class="py-20 px-4 bg-branco-2">
        <div class="container mx-auto text-center" >
            <h2 class="text-3xl md:text-4xl font-bold text-preto mb-4" data-aos="fade-up" data-aos-duration="1500">Serviços</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
                
                <div class="p-4 px-8 mt-8 rounded-lg transform transition-transform duration-300 hover:scale-110 hover:shadow-lg bg-white" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
                    <svg class="w-12 h-12 mx-auto mb-2 text-gray-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16M6 6v12M18 6v12" />
                    </svg>
                    <h3 class="text-lg font-semibold text-gray-900">Modelagem 3D</h3>
                    <p class="mt-2 text-gray-800">Criação de modelos 3D precisos e detalhados para seus projetos arquitetônicos.</p>
                </div>
                
                <div class="p-4 px-8 mt-8 rounded-lg transform transition-transform duration-300 hover:scale-110 hover:shadow-lg bg-white" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="200">
                    <svg class="w-12 h-12 mx-auto mb-2 text-gray-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3h14a1 1 0 011 1v16a1 1 0 01-1 1H5a1 1 0 01-1-1V4a1 1 0 011-1z" />
                    </svg>
                    <h3 class="text-lg font-semibold text-gray-900">Renderização</h3>
                    <p class="mt-2 text-gray-800">Renderizações de alta qualidade que destacam os detalhes e a estética dos seus designs.</p>
                </div>
                
                <div class="p-4 px-8 mt-8 rounded-lg transform transition-transform duration-300 hover:scale-110 hover:shadow-lg bg-white" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
                    <svg class="w-12 h-12 mx-auto mb-2 text-gray-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 3a1 1 0 00-1 1v12a1 1 0 001 1h10a1 1 0 001-1V4a1 1 0 00-1-1H7z" />
                    </svg>
                    <h3 class="text-lg font-semibold text-gray-900">Animações 3D</h3>
                    <p class="mt-2 text-gray-800">Criação de animações para visualizar seus projetos em movimento.</p>
                </div>
                
                <div class="p-4 px-8 mt-8 rounded-lg transform transition-transform duration-300 hover:scale-110 hover:shadow-lg bg-white" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="400">
                    <svg class="w-12 h-12 mx-auto mb-2 text-gray-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 3v18l16-9L4 3z" />
                    </svg>
                    <h3 class="text-lg font-semibold text-gray-900">Visualização VR</h3>
                    <p class="mt-2 text-gray-800">Experiências de realidade virtual para uma imersão total em seus designs.</p>
                </div>
            </div>
        </div>
    </section> -->

            


    <!-- reveal image w daisy ui
    <div class="">
        <div class="diff aspect-[16/9]">
            <div class="diff-item-1">
                <img alt="daisy" src="../static/exterior-lapiz.webp" />
            </div>
            <div class="diff-item-2">
                <img alt="daisy" src="../static/exterior.webp" />
            </div>
            <div class="diff-resizer"></div>
        </div>
    </div> -->    
        

    <!-- Timeline
    <div class="bg-preto p-8 flex flex-col items-center">
        <h2 class="text-2xl font-bold text-white mb-6">Como é o proceso?</h2>
        <ul class="relative border-s border-gray-200 bg-preto">
            <li class="mb-10 ms-6">
                <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white">
                    <svg class="w-2.5 h-2.5 text-blue-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm12-6a1 1 0 0 1 1 1v3a1 1 0 0 1-2 0v-3a1 1 0 0 1 1-1Zm-4 1a1 1 0 0 0-1-1H5a1 1 0 0 0 0 2h2a1 1 0 0 0 1-1Z"/>
                    </svg>
                </span>
                <h3 class="flex items-center mb-1 text-lg font-semibold text-white">Flowbite Library v1.0.0</h3>
                <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Get started with dozens of web components and interactive elements built on top of Tailwind CSS.</p>
            </li>
            <li class="mb-10 ms-6">
                <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white">
                    <svg class="w-2.5 h-2.5 text-blue-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm12-6a1 1 0 0 1 1 1v3a1 1 0 0 1-2 0v-3a1 1 0 0 1 1-1Zm-4 1a1 1 0 0 0-1-1H5a1 1 0 0 0 0 2h2a1 1 0 0 0 1-1Z"/>
                    </svg>
                </span>
                <h3 class="mb-1 text-lg font-semibold text-white">Flowbite Library v1.0.0</h3>
                <p class="text-base font-normal text-gray-500 dark:text-gray-400">Get started with dozens of web components and interactive elements built on top of Tailwind CSS.</p>
            </li>
            <li class="ms-6">
                <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white">
                    <svg class="w-2.5 h-2.5 text-blue-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm12-6a1 1 0 0 1 1 1v3a1 1 0 0 1-2 0v-3a1 1 0 0 1 1-1Zm-4 1a1 1 0 0 0-1-1H5a1 1 0 0 0 0 2h2a1 1 0 0 0 1-1Z"/>
                    </svg>
                </span>
                <h3 class="mb-1 text-lg font-semibold text-white">Flowbite Library v1.0.0</h3>
                <p class="text-base font-normal text-gray-500 dark:text-gray-400">Get started with dozens of web components and interactive elements built on top of Tailwind CSS.</p>
            </li>
        </ul>
    </div> -->