<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/output.css">
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body class="font-body">

    <!-- Navbar -->
    <nav class="bg-preto py-2">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="../static/logo.webp" alt="Logo JKO Studio 3D" class="self-center h-20 w-auto pl-8 transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg">
            </a>
            <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-transparent">
                    <li>
                        <a href="index.html" class="block py-2 px-3 text-branco rounded hover:text-bege md:p-0">Inicio</a>
                    </li>
                    <li>
                        <a href="sobre.html" class="block py-2 px-3 text-branco rounded hover:text-bege md:p-0">Sobre mim</a>
                    </li>
                    <li>
                        <a href="portfolio.html" class="block py-2 px-3 text-bege rounded hover:text-bege md:p-0">Portfolio</a>
                    </li>
                    <li>
                        <a href="contato.html" class="block py-2 px-3 text-branco rounded hover:text-bege md:p-0">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>  


    <!--Portfolio-->
    <h2 class="text-preto text-3xl text-center font-semibold py-8">Portfolio</h2>

    <div class="flex items-center justify-center"> 
        <button class="border border-preto px-4 py-2 mb-8 mx-3 hover:bg-bege hover:border-bege hover:text-white">Todas</button>
        <button class="border border-preto px-4 py-2 mb-8 mx-3 hover:bg-bege hover:border-bege hover:text-white">Internas</button>
        <button class="border border-preto px-4 py-2 mb-8 mx-3 hover:bg-bege hover:border-bege hover:text-white">Externas</button>
        <button class="border border-preto px-4 py-2 mb-8 mx-3 hover:bg-bege hover:border-bege hover:text-white">Isometricas</button>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-3 gap-4 px-[90px]">
        <div class="grid-item">
            <img class="h-auto max-w-full" src="../static/portfolio/Quarto-inf2.webp" alt="">
            <img class="h-auto max-w-full mt-4" src="../static/portfolio/Banheiro2.webp" alt="">
            <img class="h-auto max-w-full mt-4" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-2.jpg" alt="">
        </div>
        <div class="grid-item">
            <img class="h-auto max-w-full" src="../static/portfolio/Quarto-inf3.webp" alt="">
            <img class="h-auto max-w-full mt-4" src="../static/portfolio/Quarto-inf5.webp" alt="">
            <img class="h-auto max-w-full mt-4" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-5.jpg" alt="">
        </div>
        <div class="grid-item">
            <img class="h-auto max-w-full" src="../static/portfolio/Quarto-inf4.webp" alt="">
            <img class="h-auto max-w-full mt-4" src="../static/portfolio/Quarto-inf1.webp" alt="">
            <img class="h-auto max-w-full mt-4" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-8.jpg" alt="">
        </div>
    </div>
    











    <script src="../static/index.js"></script>
    <!-- Footer -->
    <footer class="shadow bg-preto">
        <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
            <div class="sm:flex sm:items-center sm:justify-between">
                <a href="#" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                    <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">JKO Design</span>
                </a>
                <ul class="flex flex-wrap items-center mb-6 text-sm font-medium sm:mb-0 text-gray-400">
                    <li>
                        <a href="#" class="hover:underline me-4 md:me-6 mr-4">About</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline me-4 md:me-6 mr-4">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline me-4 md:me-6 mr-4">Licensing</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline">Contact</a>
                    </li>
                </ul>
            </div>
            <hr class="my-6 sm:mx-auto border-gray-700 lg:my-8" />
            <span class="block text-sm sm:text-center text-gray-400">© 2024 <a href="#" class="hover:underline">JKO Design™</a>. All Rights Reserved.</span>
        </div>
    </footer>

    
</body>
</html>