<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JKO 3D Studio - Portfolio</title>
    <link rel="icon" href="../static/favicon.ico">
    <link rel="stylesheet" href="../static/output.css">
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<body class="font-body bg-bege-claro">

    <!-- Navbar -->
    <!-- <nav class="bg-preto py-2">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="index.html" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="../static/logo.webp" alt="Logo JKO Studio 3D" class="self-center h-20 w-auto pl-8 transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg">
            </a>
            <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <ul class="font-medium flex flex-col p-4 md:p-0 mb-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-transparent">
                    <li>
                        <a href="index.html" class="block py-2 px-3 text-branco rounded hover:text-bege md:p-0">Inicio</a>
                    </li>
                    <li>
                        <a href="sobre.html" class="block py-2 px-3 text-branco rounded hover:text-bege md:p-0">Sobre mim</a>
                    </li>
                    <li>
                        <a href="portfolio.html" class="block py-2 px-3 text-bege rounded hover:text-bege md:p-0">Portfolio</a>
                    </li>
                    <li>
                        <a href="contato.html" class="block py-2 px-3 text-branco rounded hover:text-bege md:p-0">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>   -->
    <!-- Navbar -->
    <nav class="bg-preto py-2">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="index.html" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="../static/logo.webp" alt="Logo JKO Studio 3D" class="self-center h-20 w-auto pl-8 transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg">
            </a>
            <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-transparent">
                    <li>
                        <a href="index.html" class="block py-2 px-3 text-branco rounded hover:text-bege md:p-0">Inicio</a>
                    </li>
                    <li>
                        <a href="sobre.html" class="block py-2 px-3 text-white rounded hover:text-bege md:p-0">Sobre mim</a>
                    </li>
                    <li>
                        <a href="portfolio.html" class="block py-2 px-3 text-bege rounded hover:text-bege md:p-0">Portfolio</a>
                    </li>
                    <li>
                        <a href="contato.html" class="block py-2 px-3 text-branco rounded hover:text-bege md:p-0">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>  


    <!--Portfolio 1-->
    <h2 class="text-preto text-3xl text-center font-semibold mt-12">Portfolio</h2>

    <div class="flex items-center justify-center py-4"> 
        <button class="border border-preto px-4 py-2 mb-8 mx-3 hover:bg-bege hover:border-bege hover:text-white transition duration-300 ease-in-out transform hover:scale-110 hover:shadow-lg"
            id="todasBtn"
            >Todas</button>
        <button class="border border-preto px-4 py-2 mb-8 mx-3 hover:bg-bege hover:border-bege hover:text-white transition duration-300 ease-in-out transform hover:scale-110 hover:shadow-lg"
            id="internasBtn"
            >Internas</button>
        <button class="border border-preto px-4 py-2 mb-8 mx-3 hover:bg-bege hover:border-bege hover:text-white transition duration-300 ease-in-out transform hover:scale-110 hover:shadow-lg"
            id="externasBtn"
            >Externas</button>
        <button class="border border-preto px-4 py-2 mb-8 mx-3 hover:bg-bege hover:border-bege hover:text-white transition duration-300 ease-in-out transform hover:scale-110 hover:shadow-lg"
            id="isometricasBtn"
            >Isometricas</button>
    </div>

 
    <!-- INTERNAS -->
    <div id="internas">
        <h2 class="titulos-portfolio text-preto text-3xl text-center font-semibold mb-4">Internas</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 px-6 md:px-[90px] mb-8">
            <div class="grid-item">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/internas/SM8.webp" alt="">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/internas/SM9.webp" alt="">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/internas/SM1.webp" alt="">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/internas/SM2.webp" alt="">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/internas/quarto01.webp" alt="">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/internas/quarto05.webp" alt="">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/internas/S1.webp" alt="">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/apto 2.webp" alt="">
                <img class="cursor-pointer mb-4 col-span-2" src="../static/portfolio/apto not 1 ultraHD 5.webp" alt="">

                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/Quarto-inf2.webp" alt="">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/Banheiro4.webp" alt="">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/Banheiro2.webp" alt="">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/mesinhaA.webp" alt="">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/banheiro-edu/edu-1.webp" alt="">
                
            </div>
            <div class="grid-item">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/internas/SM3.webp" alt="">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/internas/SM4.webp" alt="">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/internas/SM10.webp" alt="">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/internas/quarto02.webp" alt="">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/internas/quarto04.webp" alt="">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/internas/cozinha1.webp" alt="">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/internas/Coz2.webp" alt="">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/apto 3.webp" alt="">

                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/apto not 1 ultraHD tv.webp" alt="">
            
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/Quarto-inf3.webp" alt="">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/Quarto-inf5.webp" alt="">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/Banheiro1.webp" alt="">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/sofá.webp" alt="">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/Nichos.webp" alt="">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/banheiro-edu/edu-2.webp" alt="">

            </div>
            <div class="grid-item">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/internas/SM5.webp" alt="">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/internas/SM6.webp" alt="">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/internas/SM7.webp" alt="">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/internas/quarto03.webp" alt="">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/internas/quarto06.webp" alt="">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/internas/S2.webp" alt="">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/apto not 1 ultraHD 8.webp" alt="">

                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/Quarto-inf4.webp" alt="">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/Quarto-inf1.webp" alt="">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/Banheiro3.webp" alt="">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/plantinha.webp" alt="">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/Teto.webp" alt="">
                <img class="cursor-pointer h-auto max-w-full mb-4" src="../static/portfolio/hotel_205-enhanced.webp" alt="">
            </div>
        </div>
    </div>


     <!-- EXTERNAS -->
     <div id="externas">
        <h2 class="titulos-portfolio text-preto text-3xl text-center font-semibold mb-4">Externas</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 px-6 md:px-[90px] mb-8">
    
            <div class="grid-item">
                <img class="h-auto max-w-full mb-4 cursor-pointer" src="../static/portfolio/externas/CE6.webp" alt="">
                <img class="h-auto max-w-full cursor-pointer mb-4" src="../static/portfolio/externas/CE1.webp" alt="">
                <img class="h-auto max-w-full cursor-pointer mb-4" src="../static/portfolio/tonhao/tonhao2.webp" alt="">
            </div>
    
            <div class="grid-item">
                <img class="h-auto max-w-full mb-4 cursor-pointer" src="../static/portfolio/externas/CE2.webp" alt="">

                <img class="h-auto max-w-full cursor-pointer mb-4" src="../static/portfolio/tonhao/T03.webp" alt="">
                <img class="h-auto max-w-full mb-4 cursor-pointer" src="../static/portfolio/tonhao/T02.webp" alt="">
                <img class="h-auto max-w-full mb-4 cursor-pointer" src="../static/portfolio/tonhao/tonhao6.webp" alt="">
           
            </div>
    
            <div class="grid-item">
                <img class="h-auto max-w-full mb-4 cursor-pointer" src="../static/portfolio/externas/CE3.webp" alt="">
                <img class="h-auto max-w-full mb-4 cursor-pointer" src="../static/portfolio/externas/CE4.webp" alt="">
                <img class="h-auto max-w-full mb-4 cursor-pointer" src="../static/portfolio/externas/CE5.webp" alt="">
        
                <img class="h-auto max-w-full cursor-pointer mb-4" src="../static/portfolio/tonhao/tonhao5.webp" alt="">
            </div>
    
        </div>
    </div>
    
    
    <!-- Lightbox Modal -->
    <div id="lightbox-modal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden">
        <div class="relative bg-preto p-6 rounded-lg md:mx-20 pr-8">
            <button id="close-btn" class="absolute top-4 right-4 text-white text-3xl z-50">&times;</button>
            <div class="image-container overflow-hidden relative">
                <img id="lightbox-image" src="" alt="" class="w-full h-auto mb-4 rounded-lg transition-transform transform">
            </div>
        </div>
    </div>
    


     <!-- Isometricas -->
    <div id="isometricas">
        <h2 class="titulos-portfolio text-preto text-3xl text-center font-semibold mb-4">Isometricas</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 px-6 md:px-[90px]">
            <div class="grid-item">
            </div>
            <div class="grid-item">
                <!-- <img class="h-auto max-w-full" src="../static/portfolio/Quarto-inf3.webp" alt=""> -->
                <img class="h-auto max-w-full mb-4" src="../static/portfolio/isometricas/iso01.webp" alt="">

            </div>
            <div class="grid-item">
                <!-- <img class="h-auto max-w-full" src="../static/portfolio/Quarto-inf4.webp" alt=""> -->
            </div>
        </div>
    </div>



    <script src="../scripts/portfolio.js"></script>
    <!-- Footer -->
    <footer class="shadow bg-preto">
        <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
            <div class="sm:flex sm:items-center sm:justify-between">
                <img src="../static/jko-variacao.webp" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse h-16 pl-16" alt="">
                <ul class="flex flex-wrap items-center mb-6 text-sm font-medium sm:mb-0 text-gray-400">
                    <li>
                        <a href="#" class="hover:underline me-4 md:me-6 mr-4">About</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline me-4 md:me-6 mr-4">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline me-4 md:me-6 mr-4">Licensing</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline">Contact</a>
                    </li>
                </ul>
            </div>
            <hr class="my-6 sm:mx-auto border-gray-700 lg:my-8" />
            <span class="block text-sm sm:text-center text-gray-400">© 2024 <a href="#" class="hover:underline">JKO 3D Studio™</a>. All Rights Reserved.</span>
        </div>
    </footer>

    <!-- WhatsApp Floating Button -->
    <a href="https://wa.me/554384233952?text=Oi%21%20Estou%20interessado/a%20nos%20seus%20servi%C3%A7os%2C%20quero%20fazer%20um%20or%C3%A7amento" class="fixed bottom-4 right-4 bg-green-500 text-white p-3 rounded-full shadow-lg hover:bg-green-600 transition duration-300 ease-in-out z-40"> <!-- Ajustar z-index -->
        <i class="fab fa-whatsapp fa-2x"></i>
    </a>
    
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>

    
</body>
</html>