<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JKO 3D Studio - Sobre mim</title>
    <link rel="icon" href="../static/favicon.ico">
    <link rel="stylesheet" href="../static/output.css">
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body class="font-body">

    <!-- Navbar -->
    <nav class="bg-preto py-2">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="index.html" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="../static/logo.webp" alt="Logo JKO Studio 3D" class="self-center h-20 w-auto pl-8 transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg">
            </a>
            <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-transparent">
                    <li>
                        <a href="index.html" class="block py-2 px-3 text-branco rounded hover:text-bege md:p-0">Inicio</a>
                    </li>
                    <li>
                        <a href="sobre.html" class="block py-2 px-3 text-bege rounded hover:text-bege md:p-0">Sobre mim</a>
                    </li>
                    <li>
                        <a href="portfolio.html" class="block py-2 px-3 text-white rounded hover:text-bege md:p-0">Portfolio</a>
                    </li>
                    <li>
                        <a href="contato.html" class="block py-2 px-3 text-branco rounded hover:text-bege md:p-0">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>  

<!-- Sobre Mim -->
<section id="about" class="py-16 bg-bege-claro">
    <div class="container mx-auto flex flex-col md:flex-row items-center">
        <div class="w-full md:w-2/3">
            <div class="flex items-center mb-4">
                <!-- Linha Vertical -->
                <div class="w-1 h-12 bg-bege mr-4 hidden md:block"></div>
                <h2 class="text-4xl font-bold text-gray-800">Sobre Mim</h2>
            </div>
            <p class="text-lg text-gray-700 mb-4">
                Olá! Eu sou Paola, uma designer de arquitetura 3D apaixonada por transformar ideias em realidades virtuais. Com anos de experiência na criação de modelos 3D detalhados, animações realistas e renderizações de alta qualidade, meu objetivo é dar vida a cada projeto, superando as expectativas das minhas clientes.

            </p>
            <p class="text-lg text-gray-700 mb-4">
                Ao longo da minha carreira, desenvolvi um portfólio diversificado que abrange desde pequenas reformas residenciais até grandes projetos comerciais. Acredito que cada projeto é único e merece uma abordagem personalizada, combinando criatividade e precisão técnica para alcançar os melhores resultados.

            </p>
            <p class="text-lg text-gray-700 mb-4">
                Quando não estou trabalhando em projetos de design, adoro explorar novas tendências em arquitetura, participar de workshops e conferências, e compartilhar meu conhecimento com outras entusiastas do design. Estou sempre em busca de novas inspirações e desafios que me permitam crescer profissionalmente e contribuir com inovações no campo da arquitetura 3D.

            </p>
            <p class="text-lg text-gray-700 mb-4">
                Vamos trabalhar juntas para dar vida às suas ideias e criar espaços que inspirem e encantem. Estou ansiosa para colaborar com você no seu próximo projeto!
            </p>
            <div class="flex justify-center mt-8">
                <a href="https://wa.me/554384233952?text=Oi%21%20Estou%20interessado/a%20nos%20seus%20servi%C3%A7os%2C%20quero%20fazer%20um%20or%C3%A7amento"
                    class="hover:bg-bege hover:border-bege text-preto border border-preto border-2 hover:text-branco py-2 px-6 text-lg font-semibold transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg">
                    Faça um orçamento
                </a>
            </div>
            
        </div>
        <div class="w-full md:w-1/2 mb-8 md:mb-0 md:pl-28">
            <img src="../static/testpic.png" alt="Foto da Designer" class="w-[450px] pb-8">
        </div>
    </div>
</section>
    






    <!-- Footer -->
    <footer class="shadow bg-preto">
        <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
            <div class="sm:flex sm:items-center sm:justify-between">
                <img src="../static/jko-variacao.webp" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse h-16 pl-16" alt="">

                <ul class="flex flex-wrap items-center mb-6 text-sm font-medium sm:mb-0 text-gray-400">
                    <li>
                        <a href="#" class="hover:underline me-4 md:me-6 mr-4">About</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline me-4 md:me-6 mr-4">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline me-4 md:me-6 mr-4">Licensing</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline">Contact</a>
                    </li>
                </ul>
            </div>
            <hr class="my-6 sm:mx-auto border-gray-700 lg:my-8" />
            <span class="block text-sm sm:text-center text-gray-400">© 2024 <a href="#" class="hover:underline">JKO Design™</a>. All Rights Reserved.</span>
        </div>
    </footer>

    <!-- WhatsApp Floating Button -->
    <a href="https://wa.me/554384233952?text=Oi%21%20Estou%20interessado/a%20nos%20seus%20servi%C3%A7os%2C%20quero%20fazer%20um%20or%C3%A7amento" 
   class="fixed bottom-4 right-4 bg-green-500 text-white p-3 rounded-full shadow-lg hover:bg-green-600 transition duration-300 ease-in-out z-40">
   <i class="fab fa-whatsapp fa-2x"></i>
</a>

 

    
    
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>

</body>
</html>